@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@500;700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Neucha|Patrick+Hand+SC&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 24px;
  font-family: "Neucha", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

header.top-header {
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
  /*text-shadow: 2px 2px 2px rgb(249, 250, 251);*/
  background: #242b31;
  background: -moz-linear-gradient(
    45deg,
    #242b31 0%,
    #081b27 50%,
    #071b27 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #242b31 0%,
    #081b27 50%,
    #071b27 100%
  );
  background: linear-gradient(45deg, #2c363f 0%, #0d2331 50%, #0c2535 100%);
}

.top-header > h1 {
  font-family: "Neucha", sans-serif;
  background-image: url(https://www.tkrgroup.com/uploads/images/emo/oscar_color.gif);
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  filter: hue-rotate(var(--random, 90deg)) brightness(1.25);
}

body {
  background-color: rgb(250, 250, 250);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  margin: 0 auto;
  display: grid;
  justify-content: center;
}

article {
  margin: 2rem 0 0;
}

#input-todo {
  display: grid;
  grid-row-gap: 1rem;
  position: relative;
}

button#add-todo {
  justify-self: right;
  width: 20ch;
}

input[type="text"] {
  position: relative;
  width: 70ch;
  padding: 0.8em 1em;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
  border-color: #41403e;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
}

input[type="text"]:focus-visible {
  outline: none;
  border-color: blueviolet;
  -webkit-box-shadow: inset 1px 1px 2px 0 rgba(133, 7, 176, 0.5);
  box-shadow: inset 1px 1px 2px 0 rgba(133, 7, 176, 0.5);
}

.placeholder-text {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  font-size: 0.8rem;
  padding: 0.35rem 0.5rem;
}

input[type="text"]:focus-visible + .placeholder-text {
  display: none;
}

button {
  font-family: "Neucha", sans-serif;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-color: #41403e;
  border-style: solid;
  border-width: 2px;
  padding: 0.25rem 0.2rem;
  background-color: blueviolet;
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}

button:hover {
  transform: translate3d(0, 2px, 0);
  box-shadow: 2px 8px 8px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

article:first-child {
  margin-top: 2em;
}

#paper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 19ch;
  padding: 1rem 0.5rem 3rem;
  background: -webkit-repeating-linear-gradient(
    #f1ede9,
    #f1ede9 31px,
    #94acd4 31px,
    #94acd4 32px
  );
  background: -moz-repeating-linear-gradient(
    #f1ede9,
    #f1ede9 31px,
    #94acd4 31px,
    #94acd4 32px
  );
  background: repeating-linear-gradient(
    #f1ede9,
    #f1ede9 31px,
    #94acd4 31px,
    #94acd4 32px
  );
  border-top-left-radius: 255px 5px;
  border-top-right-radius: 9px 225px;
  border-bottom-left-radius: 7px 255px;
  border-bottom-right-radius: 225px 4px;
  box-shadow: 15px 28px 25px -25px rgba(0, 0, 0, 0.2);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 31px;
  margin: 0 1rem;
  list-style: none;
  padding: 0;
}

li:first-child {
  padding-top: 9px;
}

li {
  display: flex;
  gap: 1em 0.5rem;
}

.text-deco {
  text-decoration: line-through;
  text-decoration-color: blueviolet;
  text-decoration-thickness: 0.25rem;
  border-radius: 2.7rem 0.3rem 2.7rem 0.2rem;
  border-top-left-radius: 2.7rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 2.7rem;
  border-bottom-left-radius: 0.2rem;
  background: linear-gradient(
    transparent 40%,
    rgb(138, 43, 226) 42%,
    rgb(138, 43, 226) 59%,
    transparent 63%
  );
  background-repeat: repeat, repeat;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-repeat: no-repeat;
}

span {
  padding: 0 0.5em;
  background: transparent;
}

input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  box-shadow: 15px 28px 25px -18px rgba(0, 0, 0, 0.2);
  border-color: #41403e;
  border-style: solid;
  border-width: 2px;
  padding: 0.6rem;
}

input[type="checkbox"]::before {
  content: "";
}

input[type="checkbox"]:checked::before {
  position: absolute;
  content: "X";
  text-align: center;
  top: -0.4rem;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgb(138, 43, 226);
  font-size: 1.9rem;
  font-weight: 600;
  font-family: "Neucha", sans-serif;
}

input[type="radio"] {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  border-bottom-left-radius: 0.7rem 1rem;
  border-bottom-right-radius: 1rem 0.9rem;
  border-top-left-radius: 1rem 1rem;
  border-top-right-radius: 1rem 0.6rem;
  border-color: rgb(250, 250, 250);
  border-style: solid;
  border-width: 2px;
  padding: 0.5rem;
  font: inherit;
}

input[type="radio"]::before {
  position: absolute;
  content: " ";
  border-bottom-left-radius: 0.7rem 1rem;
  border-bottom-right-radius: 1rem 0.9rem;
  border-top-left-radius: 1rem 1rem;
  border-top-right-radius: 1rem 0.6rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(138, 43, 226);
}

input[type="radio"]:checked::before {
  transform: scale(0.7);
  transition: 120ms transform ease-in-out;
}

button#remove-todos {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20ch;
  margin: -3rem 0;
}
